@import url("global.css");

html,
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    overflow-x: hidden;
}

.main-content {
    padding: 2rem;
}

.privacy-policy,
.terms-conditions {
    padding-left: 30px;
    padding-right: 30px;
}


.privacy-policy h2,
.terms-conditions h2 {
    font-size: 22px;
    margin-top: 80px;
}

.terms-conditions h2 {
    margin-top: 120px;
}

.privacy-policy h3,
.terms-conditions h3,
.privacy-policy p,
.terms-conditions p,
.privacy-policy ul,
.terms-conditions ul,
.privacy-policy li,
.terms-conditions li {
    font-size: 16px;
}

.privacy-policy li {
    margin-right: 100px;
}

.terms-conditions p,
.terms-conditions ul {
    margin-right: 50px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .privacy-policy,
    .terms-conditions {
        padding: 0 80px;
    }

    .privacy-policy h2 {
        font-size: 26px;
    }

    .terms-conditions h2 {
        font-size: 26px;
        margin-top: 120px;
    }
}

@media screen and (min-width: 1025px) {

    .privacy-policy,
    .terms-conditions {
        padding: 0 150px;
    }

    .privacy-policy h2,
    .terms-conditions h2 {
        font-size: 30px;
    }

    .privacy-policy h2 {
        margin-top: 100px;
    }

    .terms-conditions h2 {
        margin-top: 200px;
    }

    .privacy-policy h3,
    .terms-conditions h3,
    .privacy-policy p,
    .terms-conditions p,
    .privacy-policy ul,
    .terms-conditions ul,
    .privacy-policy li,
    .terms-conditions li {
        font-size: 20px;
    }
}